 
  
   @font-face {
    font-family: "Parkinsans" ;
    src: url('fonts/Parkinsans-Regular.ttf');
    font-style: normal;
    font-weight: 100;
    }
  

    @font-face {
        font-family: "Roboto" ;
        src: url('fonts/Roboto.ttf');
        font-style: normal;
        font-weight: 100;
        }
      
    