
h4 {
    padding-top: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#timer1, #timer2, #timer3 {
    place-items: center;
    height: 400px;
    background-color: rgba(156, 53, 164, 0.2);
    padding: 5%;
    width: 33.33%; /* Change the % here based on how many timers you want in a row. 25% for 4, 20% for 5, etc. */
  }

#timer-section {
    display: flex;
}
  
  .base-timer {
    position: relative;
    width: 200px; /* Use this to change the size of the timer circle (keep width and height equal) */
    height: 200px; /* Use this to change the size of the timer circle. Update lines 70 and 71 with the same values to keep the time lables (e.g., '1:30') in the center of the circle */ 
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: rgb(255, 255, 255);
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  
  .base-timer__path-remaining.green {
    color:rgb(133, 94, 153);
  }
  
  
  .base-timer__label {
    position: absolute;
    width: 200px; 
    height: 200px; 
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }

  /* Timer Buttons Styling */

  button {
    min-width: 5em;
    height: 1.7em;
    font-family: "Pakisans";
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color:rgba(138, 31, 145, 0.2);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    
  }

  button:hover {
    background-color: rgb(172, 116, 255);
  }
  
  button:active {
    background-color:  rgb(156, 92, 252);
    transform: scale(0.97); 
  }
  
  button.stop-button {
    background-color: #dc3545; 
  }
  
  button.stop-button:hover {
    background-color: #b52a37; 
  }
  
  button.stop-button:active {
    background-color: #7f1e29; 
  }

  .start-button, .stop-button {
    border-radius: 30px;
    margin: 8px;
    text-transform: uppercase;

  }


  @media (max-width: 768px) {
    .timer-section {
      flex-direction: column; 
      align-items: flex-start;
    }

    #timer1, #timer2, #timer3 {
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      padding: 15px; 
    }

    button {
      flex-direction: column; 
      align-items: flex-start;
    }
  }

  @media (max-width: 480px) {

  }